// ### Theme 3

// #### Backgrounds

// - Very dark violet (main background): hsl(268, 75%, 9%)
// - Very dark violet (toggle background, keypad background, screen background): hsl(268, 71%, 12%)

// #### Keys

// - Dark violet (key background): hsl(281, 89%, 26%)
// - Vivid magenta (key shadow): hsl(285, 91%, 52%)

// - Pure cyan (key background, toggle): hsl(176, 100%, 44%)
// - Soft cyan (key shadow): hsl(177, 92%, 70%)

// - Very dark violet (key background): hsl(268, 47%, 21%)
// - Dark magenta (key shadow): hsl(290, 70%, 36%)

// #### Text

// - Light yellow: hsl(52, 100%, 62%)
// - Very dark blue: hsl(198, 20%, 13%)
// - White (text): hsl(0, 0%, 100%)

$main-bg: hsl(268, 75%, 9%);
$toggle-bg: hsl(268, 71%, 12%);
$screen-bg: white;

$key1-bg: hsl(281, 89%, 26%);
$key1-shadow: hsl(285, 91%, 52%);

$key2-bg: hsl(176, 100%, 44%);
$key2-shadow: hsl(177, 92%, 70%);

$key3-bg: hsl(268, 47%, 21%);
$key3-shadow: hsl(290, 70%, 36%);

$text: hsl(52, 100%, 62%);
$text-light: hsl(0, 0%, 100%);
$text-dark: hsl(198, 20%, 13%);
