// ### Theme 2

// #### Backgrounds

// - Light gray (main background): hsl(0, 0%, 90%)
// - Grayish red (toggle background, keypad background): hsl(0, 5%, 81%)
// - Very light gray (screen background): hsl(0, 0%, 93%)

// #### Keys

// - Dark moderate cyan (key background): hsl(185, 42%, 37%)
// - Very dark cyan (key shadow): hsl(185, 58%, 25%)

// - Orange (key background, toggle): hsl(25, 98%, 40%)
// - Dark orange (key shadow): hsl(25, 99%, 27%)

// - Light grayish yellow (key background): hsl(45, 7%, 89%)
// - Dark grayish orange (key shadow): hsl(35, 11%, 61%)

// #### Text

// - Very dark grayish yellow: hsl(60, 10%, 19%)
// - White (text): hsl(0, 0%, 100%)

// #### Backgrounds
$main-bg: hsl(0deg 0% 90%);
$toggle-bg: hsl(0deg 5% 81%);
$screen-bg: hsl(0deg 0% 93%);

// #### Keys 1
$key1-bg: hsl(185deg 42% 37%);
$key1-shadow: hsl(185deg 58% 25%);

// #### Keys 2
$key2-bg: hsl(25deg 98% 40%);
$key2-shadow: hsl(25deg 99% 27%);

// #### Keys 3
$key3-bg: hsl(45deg 7% 89%);
$key3-shadow: hsl(35deg 11% 61%);

// #### Text
$text: hsl(60deg 10% 19%);
$text-light: hsl(0deg 0% 100%);
